<ion-content class="autoscroll">
	<ion-fab vertical="top" horizontal="end" slot="fixed">
		<ion-fab-button size="small" (click)="cancel()">
			<ion-icon name="close-circle"></ion-icon>
		</ion-fab-button>
	</ion-fab>
	<ion-grid fixed>
		<ion-row align-items-center justify-content-center>
			<ion-col size-md="4">
				<ion-text>
					<h1 text-center>{{task}} Note</h1>
				</ion-text>
				<form [formGroup]="noteForm">
					<ion-list lines="none">
						<ion-item>
              <ion-input *ngIf = "task === 'Edit'" formControlName="title" type="text" 
              placeholder="{{placeholder.title}}" value="{{placeholder.title}}" maxlength = "100"></ion-input>
              <ion-input *ngIf = "task === 'Create'" formControlName="title" type="text" 
              placeholder="{{placeholder.title}}" maxlength = "100"></ion-input>
						</ion-item>
						<ion-item>
              <ion-input formControlName="content" type="text" 
              placeholder="{{placeholder.content}}" maxlength="100"></ion-input>
						</ion-item>
          </ion-list>
          <ion-button expand="block" size="large" fill="outline" (click)="close()" 
          [disabled]="!noteForm.valid">{{task}}</ion-button>
				</form>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>